/*Estilos da página index.html*/
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: chocolate;
    font-size: 20px;
}

#menu li a:hover {
    color: black;
}

.p-30 {
    padding: 30px; 
}
.br-50 {
    border-radius: 50%;
}

.wh-250 {
    width: 250px;
    height: 250px;
}

.br-5 {
    border-radius: 5%;
}

.wh-300 {
    width: 900px;
    height: 500px;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

div.b {
    font-size: 100%;
    font-style: caption;
  }

/*Estilos da página contato.html*/

.ml-50 {
    margin-left: 50px;
}